ion-item{
    padding-top: 5vh;

}

ion-fab{
    padding-left: 35vh;
}



.ion-color-azula {
	--ion-color-base: var(--ion-color-azula);
	--ion-color-base-rgb: var(--ion-color-azula-rgb);
	--ion-color-contrast: var(--ion-color-azula-contrast);
	--ion-color-contrast-rgb: var(--ion-color-azula-contrast-rgb);
	--ion-color-shade: var(--ion-color-azula-shade);
	--ion-color-tint: var(--ion-color-azula-tint);
}

.ion-color-yellow {
	--ion-color-base: var(--ion-color-yellow);
	--ion-color-base-rgb: var(--ion-color-yellow-rgb);
	--ion-color-contrast: var(--ion-color-yellow-contrast);
	--ion-color-contrast-rgb: var(--ion-color-yellow-contrast-rgb);
	--ion-color-shade: var(--ion-color-yellow-shade);
	--ion-color-tint: var(--ion-color-yellow-tint);
}

.ion-color-t1 {
	--ion-color-base: var(--ion-color-t1);
	--ion-color-base-rgb: var(--ion-color-t1-rgb);
	--ion-color-contrast: var(--ion-color-t1-contrast);
	--ion-color-contrast-rgb: var(--ion-color-t1-contrast-rgb);
	--ion-color-shade: var(--ion-color-t1-shade);
	--ion-color-tint: var(--ion-color-t1-tint);
}